MAIL=your_email@here.com
PASSWORD=your_refrag_password_here
TEAM_ID = "0000" # You can find this id in the URL of you Refrag dashboard, e.g https://play.refrag.gg/dashboard/team/<TEAM_ID>
LOCATION_ID = 27 # 27 is Paris, feel free to change, i do not know the other codes